@(user: User, json: String)(implicit flash: Flash)

@import com.mintpresso.i18n.Locale

<h1>API</h1>

@user.name 인증을 위한 API 인증 토큰은 아래와 같습니다. 데이터 클라우드 및 주문 가져오기 요청(API)을 이용할 수 있는 도메인과 API 권한을 제한시킬 수 있습니다.
<p align="right"><small>
IP 주소 <span class="label label-inverse">211.33.121.174</span> &middot;
도메인 <span class="label label-inverse">mintpresso.com</span> &middot;
하위 도메인 <span class="label label-inverse">docs.mintpresso.com</span> &middot;
모든 도메인 <span class="label label-inverse">*</span>
</small></p>
<form id="domain" class="form-inline">
  <table id="tokens" class="table">
    <thead>
      <tr>
        <th>API KEY</th>
        <th width="150px">Name</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>
  <span class="help-block" style="text-align: center">
    @flash.get("error").map { message =>
      @message
    }
    @flash.get("msg").map { message =>
      @message <time datetime="@flash.get("created").getOrElse("-1").toLong" title="@flash.get("created").getOrElse("-1").toLong)">@flash.get("created")</time>
    }.getOrElse {
      <span class="good hide" id="guide1">?</span>
    }
  </span>
</form>
<script>
mint._api = @Html(json);
</script>