@(user: User, pointTypes: List[String])(implicit flash: Flash)

<h1>IMPORTS</h1>
<form class="form-inline" action="@routes.Panel.data_import_add(user.id)" method="POST">
  <fieldset>
    <div style="text-align: center">
      <input type="text" name="modelType" placeholder="Type of model" value="@flash.get("typeString")" />
      <input type="text" name="identifier" placeholder="Identifier" value="@flash.get("identifier")" />
      <span class="help-block">
        @flash.get("error").map { message =>
          @message
        }
        @flash.get("msg").map { message =>
          @message
        }.getOrElse {
          <a href="@routes.Application.signup">회원이 아니세요? 새로운 아이디로 회원가입하기</a>
        }
      </span>
    </div>
    <div style="text-align: right; ">
      @*
      <label class="checkbox">
        <input type="checkbox"> Remember me for 2 weeks
      </label>
      *@
    </div>
  </fieldset>
</form>
<script>
  mintpresso._sTypes = []
  @for(p <- pointTypes){
  	mintpresso._sTypes.push("@p")
  }
</script>