@(user: User, types: String)(implicit flash: Flash, lang: Lang)

@import com.mintpresso.i18n.Locale

<h1>IMPORTS</h1>
<form id="model" class="form-inline" method="POST" onsubmit="return false;">
  <fieldset>
    <textarea name="data" style="width: 700px; margin-bottom: 16px;" placeholder="JSON Object - Example: {&quot;age&quot;: 22}">@flash.get("data")</textarea>
    <input type="text" name="model" placeholder="Type of model" style="width:200px" value="@flash.get("model")" />
    <input type="text" name="identifier" placeholder="Identifier" style="width:400px" value="@flash.get("identifier")" />
    <button type="submit" class="btn btn-small btn-primary" data-loading-text="<i class=&quot;icon-refresh icon-spin&quot; style=&quot;color:black&quot;></i>">추가</button>
    <span class="help-block" style="text-align: center">
      @flash.get("error").map { message =>
        @message
      }
      @flash.get("msg").map { message =>
        @message <time datetime="@Locale.getDateString(flash.get("created").getOrElse("-1").toLong)" title="@Locale.getDateString(flash.get("created").getOrElse("1000").toLong)">@flash.get("created")</time>
      }.getOrElse {
        <span class="good hide" id="guide1">?</span>
      }
    </span>
    </div>
  </fieldset>
</form>
<hr />
<script>
  alert("@types")
  mint._sTypes = @Html(types);
  @flash.get("guide-model").map { message =>
    mint.help('guide1', message)
  }
</script>