@(user: Option[User])

@landing("Features - MINTPRESSO", user) {

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="@routes.Assets.at("images/slide-02.jpg")" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="typo-capital bold">PRACTICAL FEATURES</h1>
          <p class="lead">서비스·프로덕트 개발의 어려움을 해결하고자 시작했습니다.</p>
          <p class="lead"><small>우리는 '새로운 기능'이 아닌 고객의 '필요한 기능'을 선보입니다.</small></p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div id="submenu" class="navbar navbar-static">
  <div class="navbar-inner">
    <div class="container" style="width: auto;">
      <ul class="nav navbar-nav">
        <li><a href="#storage">Storage</a></li>
        <li><a href="#api">API &amp; Security</a></li>
        <li><a href="#pages">Pages</a></li>
        <li><a href="#detail">Details</a></li>
        <li><a href="#order">Order</a></li>
        <li><a href="#pickup">Pick up</a></li>
        <li><a href="#integration">Integration</a></li>
        <li><a href="#support">Support</a></li>
      </ul>
    </div>
  </div>
</div>
@*
<div id="submenu">
  <ul class="breadcrumb" style="padding: 15px 15px;">
    <li><a href="#storage">Storage</a> <span class="divider">/</span></li>
    <li><a href="#api">API &amp; Security</a> <span class="divider">/</span></li>
    <li><a href="#pages"></a>Pages<span class="divider">/</span></li>
    <li><a href="#detail">Detail</a> <span class="divider">/</span></li>
    <li><a href="#order">Order</a> <span class="divider">/</span></li>
    <li><a href="#pickup">Pick up</a> <span class="divider">/</span></li>
    <li><a href="#integration">Integration</a> <span class="divider">/</span></li>
    <li><a href="#support">Support</a>
  </ul>
</div>
*@
<div class="container" id="features">


  <!-- START THE FEATURETTES -->

  <div id="storage" class="featurette" style="">
    <h2 class="featurette-heading">Storage <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>

  <hr class="featurette-divider">

  <div id="api" class="featurette" style="">
    <h2 class="featurette-heading">API <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>

  <hr class="featurette-divider">

  <div id="pages" class="featurette" style="">
    <h2 class="featurette-heading">Pages <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>
  <hr class="featurette-divider">

  <div id="detail" class="featurette" style="">
    <h2 class="featurette-heading">Deatil <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>
  <hr class="featurette-divider">

  <div id="order" class="featurette" style="">
    <h2 class="featurette-heading">Order <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>
  <hr class="featurette-divider">

  <div id="pickup" class="featurette" style="">
    <h2 class="featurette-heading">Pick up Table <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>
  <hr class="featurette-divider">

  <div id="integration" class="featurette" style="">
    <h2 class="featurette-heading">Integration <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>
  <hr class="featurette-divider">

  <div id="support" class="featurette" style="">
    <h2 class="featurette-heading">Support <span class="muted">스토리지</span></h2>
    <p>ㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋㅋ</p>
  </div>

  <!-- /END THE FEATURETTES -->



</div><!-- /.container -->
<!-- FOOTER -->
@footer()
}


