@()

@landing("Overview - MINTPRESSO") {
    
<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="@routes.Assets.at("images/slide-01.jpg")" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Data Cloud</h1>
          <p class="lead">민트프레소의 데이터 클라우드에 매 순간 생기는 모든 소중한 데이터를 마음껏 넣으세요.  </p>
          <!--<a class="btn btn-large btn-primary" href="#">Learn more</a>-->
        </div>
      </div>
    </div>
    <div class="item">
      <img src="@routes.Assets.at("images/slide-02.jpg")" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Coffee Machine</h1>
          <p class="lead">민트프레소의 커피머신에 컨텐츠 추천, 사용자 관계 분석, 실시간 랭킹과 같은 복잡한 처리를 '주문'하고 여러분의 사이트에 가져다 쓰세요.</p>
          <!--<a class="btn btn-large btn-primary" href="#">See use case</a>-->
        </div>
      </div>
    </div>
    <div class="item">
      <img src="@routes.Assets.at("images/slide-03.jpg")" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>Data-driven Production</h1>
          <p class="lead">하루만에 새로운 기능 넣거나, 새로운 로그를 남기려면 개발자는 민트프레소가 필요합니다. 동시에 모든 영업팀과 기획자가 필요한 '데이터 전문가'와 함께하세요. 저렴하게.</p>
          <a class="btn btn-large btn-primary" href="@routes.Application.login">시작하기</a>
          <!--<a class="btn btn-large btn-primary" href="#">Pricing &amp; Plans</a>-->
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Infrastructure</h2>
      <p>민트프레소는 자체적인 분산 그래프 스토리지를 개발하여 대규모의 데이터를 저장하고 이를 실시간으로 분석합니다.</p>
      <p><a class="btn btn-inverse" href="#">RT Processing Engine &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Economy</h2>
      <p>간단한 로그 수집 및 분석부터 복잡한 상품 추천 알고리즘 제공을 위해 모든 데이터마이닝 시스템을 월 단위 계약으로 이용할 수 있습니다.</p>
      <p><a class="btn btn-inverse" href="#">Savings Calculator &raquo;</a></p>
    </div><!-- /.span4 -->
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>State of the art</h2>
      <p>의사결정자, 프로젝트 리더, 마케터와 개발자 모두가 데이터를 편리하게 다루기 위한 최상의 인터페이스를 제공합니다.</p>
      <p><a class="btn btn-inverse" href="#">Screenshots &raquo;</a></p>
    </div><!-- /.span4 -->
  </div><!-- /.row -->


  <!-- START THE FEATURETTES -->

  <hr class="featurette-divider">

  <div class="featurette">
    @*<img class="featurette-image pull-right" src="@routes.Assets.at("images/browser-icon-chrome.png")">*@
    <h2 class="featurette-heading">다양한 데이터를 모으기 <span class="muted">현실적인 어려움을 해결했습니다.</span></h2>
    <p class="lead">새로운 로그를 수집하거나 사용자 개인화된 정보를 제공하는데 더이상 Database, Job worker, Cache를 손댈 필요없습니다. JavaScript API 또는 Server API를 통해 데이터 클라우드에 넣으면 됩니다.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="@routes.Assets.at("images//browser-icon-firefox.png")">
    <h2 class="featurette-heading">기획자나 마케터도 보는 <span class="muted">쉬운 인터페이스로 개발자를 존중합니다.</span></h2>
    <p class="lead">모든 설정과 데이터는 민트프레소 패널에서 관리할 수 있습니다. 복잡한 분석은 '주문하기'를 통해 주문을 넣으면 몇분내에 해당 분석 모델에 대해 실시간으로 분석해줍니다.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="@routes.Assets.at("images//browser-icon-safari.png")">
    <h2 class="featurette-heading">분석은 전문가에게 <span class="muted">맡기고 서비스에 충실하세요.</span></h2>
    <p class="lead">서비스 방향이나 데이터 규모에 따라 분석 모델도 달라져야합니다. 민트프레소 전문가에게 개인정보가 난독화된 데이터를 주면 적절한 시기에 알맞는 데이터 모델을 제안해드립니다. </p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="@routes.Assets.at("images//browser-icon-safari.png")">
    <h2 class="featurette-heading">이용한 만큼 사용료를 <span class="muted">내는게 전부입니다.</span></h2>
    <p class="lead">설치비, 관리비와 같은 복잡한 계산과 계약은 없습니다. 실제 서비스에서 적용되어 쓰이고 있는 데이터 생산량, 제공량으로 산출된 이용료만 지불하면 됩니다. </p>
  </div>

  <hr class="featurette-divider">
  <!-- /END THE FEATURETTES -->
  <div style="text-align:center">
    <a href="@routes.Application.login" class="btn btn-large btn-inverse">시작하기</a>
  </div>

  <hr class="featurette-divider">

  <!-- FOOTER -->
  @footer()

</div><!-- /.container -->
    
}