@(user: Option[User])

@landing("Plans & Pricing - MINTPRESSO", user) {

<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <img src="@routes.Assets.at("images/slide-02.jpg")" alt="">
      <div class="container">
        <div class="carousel-caption">
          <h1>필요한 것을 만듭니다.</h1>
          <p class="lead">서비스나 프로덕트 개발의 어려움을 해결하고자 만든 서비스이기 때문에 사용자의 요청을 우선으로 받아들입니다. <br /><br />우리는 '새로운 기능'이 아닌 '필요했던 기능'을 선보입니다.</p>
        </div>
      </div>
    </div>
    </div>
  </div>
</div><!-- /.carousel -->

<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container marketing">

  <div style="position:relative;float:left;top:-120px;">
    <ul class="breadcrumb">
      <li><a href="#data-cloud">Using Data Cloud</a> <span class="divider">/</span></li>
      <li><a href="#jsapi">Javascript API</a> <span class="divider">/</span></li>
      <li><a href="#panel">Panel</a> <span class="divider">/</span></li>
      <li><a href="#data-management">Data Management</a> <span class="divider">/</span></li>
      <li><a href="#order">Order</a> <span class="divider">/</span></li>
      <li><a href="#order">Pick-up</a> <span class="divider">/</span></li>
      <li><a href="#support">Support</a></li>
    </ul>
  </div>

  <!-- START THE FEATURETTES -->

  <div class="featurette" style="clear:both;">
    <img class="featurette-image pull-right" src="@routes.Assets.at("images/browser-icon-chrome.png")">
    <h2 class="featurette-heading">First featurette headling. <span class="muted">It'll blow your mind.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-left" src="@routes.Assets.at("images//browser-icon-firefox.png")">
    <h2 class="featurette-heading">Oh yeah, it's that good. <span class="muted">See for yourself.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <img class="featurette-image pull-right" src="@routes.Assets.at("images//browser-icon-safari.png")">
    <h2 class="featurette-heading">And lastly, this one. <span class="muted">Checkmate.</span></h2>
    <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
  </div>

  <hr class="featurette-divider">

  <!-- /END THE FEATURETTES -->


  <!-- FOOTER -->
  @footer

</div><!-- /.container -->
    
}