@()(implicit flash: Flash)

@single("Log in - MINTPRESSO")("black") {
<form class="form-inline">
  <div class="modal">
    <div class="modal-header" style="text-align: center">
      <img src="@routes.Assets.at("images/logotype-white-v.png")" />
    </div>
    <div class="modal-body">
      <fieldset>
        <div style="text-align: center">
          <input type="text" id="inputEmail" placeholder="Email" />
          <input type="password" id="inputPassword" placeholder="Password" />
          <span class="help-block">
            <a href="@routes.Application.signup">새로운 아이디로 회원가입하기</a>
          </span>
        </div>
        <div style="text-align: right; ">
          @*
          <label class="checkbox">
            <input type="checkbox"> Remember me for 2 weeks
          </label>
          *@
        </div>
      </fieldset>
    </div>
    <div class="modal-footer">
      <a href="#" class="btn">아이디/비밀번호 찾기</a>
      <button type="submit" class="btn btn-primary">로그인</button>
    </div>
  </div>
</form>
  <!-- FOOTER -->
  @footer()
} 