@()(implicit flash: Flash)

@single("Data Cloud - MINTPRESSO Panel")("white") {
  <meta name="panel" content="data">
  <div id="panel">
    @menu("data")
    <div id="submenu">
      <ul>
        <li data-menu="view" data-parameter="">
          <span>자세히 보기</span>
          <p>데이터 클라우드에 있는 모든 모델과 관계를 조건별로 봅니다.</p>
        </li>
        <li data-menu="log" data-parameter="">
          <span>개발자 로그</span>
          <p>API 인증키를 통해 접속한 내역과 오류 메시지를 봅니다.</p>
        </li>
        <li data-menu="filter" data-parameter="">
          <span>필터 만들기</span>
          <p>유효한 데이터 범위를 설정하여 정확도를 높힙니다.</p>
        </li>
        <li data-menu="import" data-parameter="">
          <span>업로드</span>
          <p>외부에서 만들어진 데이터를 클라우드에 넣습니다.</p>
        </li>
        <li data-menu="export" data-parameter="">
          <span>다운로드</span>
          <p>클라우드에 있는 데이터를 외부로 보냅니다.</p>
        </li>
      </ul>
    </div>
    <div id="content">
      <div data-content="index" data-state="0"></div>
      <div data-content="view" data-state="0"></div>
      <div data-content="log" data-state="0"></div>
      <div data-content="filter" data-state="0"></div>
      <div data-content="import" data-state="0"></div>
      <div data-content="export" data-state="0"></div>
    </div>
  </div>
} 