@(selected: String)(implicit flash: Flash)

@dataAndClass(d: String, c: String) = {
  @if(d == selected){
    data-menu="@d" class="@c active"
  } else {
    data-menu="@d" class="@c"
  }
}
<div id="menu">
  <ul>
    <li @dataAndClass("overview", "") onclick="location.href=routes.controllers.Panel.overview(sessionStorage.id).url">OVERVIEW</li>
    <li @dataAndClass("data", "") onclick="location.href=routes.controllers.Panel.data(sessionStorage.id).url">데이터<br />클라우드</li>
    <li @dataAndClass("order", "") onclick="location.href=routes.controllers.Panel.order(sessionStorage.id).url">주문하기</li>
    <li @dataAndClass("pickup", "") onclick="location.href=routes.controllers.Panel.pickup(sessionStorage.id).url">받아가기</li>
    <li @dataAndClass("support", "") onclick="location.href=routes.controllers.Panel.support(sessionStorage.id).url">고객지원</li>
    <li class="mintpresso" title="민트프레소 사이트로 이동합니다." onclick="location.href='/'"></li>
  </ul>
</div>