@()(implicit flash: Flash)

@single("Order here - MINTPRESSO Panel")("white") {
  <meta name="panel" content="order">
  <div id="panel">
    @menu("order")
    <div id="submenu">
      <ul>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span>준비중입니다.</span></li>
        @*
        <li data-menu="simple" data-parameter="">
          <span>새로운 주문하기</span>
          <p>특별한 조건과 알고리즘을 통해 원하는 데이터를 실시간으로 산출하도록 주문합니다.</p>
        </li>
        <li data-menu="advanced" data-parameter="">
          <span>전문가용 주문하기</span>
          <p>It supports an user created mapper/reducer written by JavaScript.</p>
        </li>
        <li data-menu="cancel" data-parameter="">
          <span>주문 취소</span>
          <p>외부에서 만들어진 데이터를 클라우드에 넣습니다.</p>
        </li>
        *@
      </ul>
    </div>
    <div id="content">
      <div data-content="index" data-state="0"></div>
      @*
      <div data-content="view" data-state="0"></div>
      <div data-content="filter" data-state="0"></div>
      <div data-content="import" data-state="0"></div>
      <div data-content="export" data-state="0"></div>
      *@
    </div>
  </div>
} 