@()(implicit flash: Flash)

@single("Data Cloud - MINTPRESSO Panel")("white") {
  <meta name="panel" content="pickup">
  <div id="panel">
    @menu("pickup")
    <div id="submenu">
      <ul>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li><span></span></li>
        <li style="margin-top:-20px"><span>준비중입니다.</span></li>
        @*
        <li data-menu="history" data-parameter="">
          <span>데이터 주문 내역</span>
          <p>주문을 받아 결과물이 나온 실제 데이터들의 지난 또는 최근 기록을 봅니다.</p>
        </li>
        *@
      </ul>
    </div>
    <div id="content">
      <div data-content="index" data-state="0"></div>
      <div data-content="view" data-state="0"></div>
      <div data-content="filter" data-state="0"></div>
      <div data-content="import" data-state="0"></div>
      <div data-content="export" data-state="0"></div>
    </div>
  </div>
} 